# Limpeza dos Dados

Fonte: https://opendatasus.saude.gov.br/dataset/covid-19-vacinacao/resource/ef3bd0b8-b605-474b-9ae5-c97390c197a8

In [84]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# Dados Sobre Casos e Óbitos da COVID-19

In [85]:
df = pd.read_csv('../data/caso_full.csv.gz')

In [86]:
df

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0000,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0000,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0000,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0000,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0000,0,3,city,AC,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331707,Tupirama,1721257.0,2021-06-29,202126,1922.0,1891.0,False,True,178,9261.18626,2021-06-24,0.0112,2,403,city,TO,0,0
2331708,Tupiratins,1721307.0,2021-06-29,202126,2729.0,2671.0,False,True,161,5899.59692,2021-06-24,0.0186,3,403,city,TO,0,0
2331709,Wanderlândia,1722081.0,2021-06-29,202126,11734.0,11683.0,False,True,889,7576.27408,2021-06-24,0.0169,15,428,city,TO,0,0
2331710,Xambioá,1722107.0,2021-06-29,202126,11520.0,11540.0,False,True,2248,19513.88889,2021-06-24,0.0129,29,417,city,TO,0,0
2331711,NaN,17.0,2021-06-29,202126,1590248.0,1572866.0,False,True,197266,12404.73184,2021-06-28,0.0162,3205,469,state,TO,0,0

In [87]:
dados_ce = df.query('state == "CE"')

In [88]:
dados_ce = dados_ce.query('place_type == "state"').drop('city', axis = 1)

In [89]:
dados_ce

,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
263065,23.0,2020-03-16,202012,9187103.0,9132078.0,False,False,9,0.09796,2020-03-16,0.0000,0,1,state,CE,9,0
263068,23.0,2020-03-17,202012,9187103.0,9132078.0,False,False,10,0.10885,2020-03-17,0.0000,0,2,state,CE,1,0
263072,23.0,2020-03-18,202012,9187103.0,9132078.0,False,False,19,0.20681,2020-03-18,0.0000,0,3,state,CE,9,0
263077,23.0,2020-03-19,202012,9187103.0,9132078.0,False,False,24,0.26124,2020-03-19,0.0000,0,4,state,CE,5,0
263084,23.0,2020-03-20,202012,9187103.0,9132078.0,False,False,68,0.74017,2020-03-20,0.0000,0,5,state,CE,44,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343646,23.0,2021-06-25,202125,9187103.0,9132078.0,False,False,876055,9535.70456,2021-06-25,0.0255,22352,467,state,CE,3424,48
343832,23.0,2021-06-26,202125,9187103.0,9132078.0,False,False,878665,9564.11395,2021-06-26,0.0255,22420,468,state,CE,2610,68
344018,23.0,2021-06-27,202126,9187103.0,9132078.0,False,False,880418,9583.19505,2021-06-27,0.0255,22442,469,state,CE,1753,22
344204,23.0,2021-06-28,202126,9187103.0,9132078.0,False,False,881193,9591.63079,2021-06-28,0.0255,22454,470,state,CE,775,12
344390,23.0,2021-06-29,202126,9187103.0,9132078.0,True,False,885489,9638.39199,2021-06-29,0.0255,22554,471,state,CE,4296,100

In [90]:
#dados_ce = dados_ce.set_index('date').rename_axis(None)

In [91]:
colunas = ['date', 'new_confirmed', 'new_deaths', 'last_available_confirmed', 'last_available_deaths',
           'epidemiological_week', 'estimated_population_2019']

In [92]:
dados_ce = dados_ce[colunas]

In [93]:
dados_ce

,date,new_confirmed,new_deaths,last_available_confirmed,last_available_deaths,epidemiological_week,estimated_population_2019
263065,2020-03-16,9,0,9,0,202012,9132078.0
263068,2020-03-17,1,0,10,0,202012,9132078.0
263072,2020-03-18,9,0,19,0,202012,9132078.0
263077,2020-03-19,5,0,24,0,202012,9132078.0
263084,2020-03-20,44,0,68,0,202012,9132078.0
...,...,...,...,...,...,...,...
343646,2021-06-25,3424,48,876055,22352,202125,9132078.0
343832,2021-06-26,2610,68,878665,22420,202125,9132078.0
344018,2021-06-27,1753,22,880418,22442,202126,9132078.0
344204,2021-06-28,775,12,881193,22454,202126,9132078.0
344390,2021-06-29,4296,100,885489,22554,202126,9132078.0

In [94]:
colunas_pt = ['data', 'novos_casos', 'novos_obitos', 'total_casos', 'total_mortes',
             'semana_epidemiologica', 'pop_estimada_2019']

In [95]:
dados_ce.columns = colunas_pt

In [96]:
dados_ce

,data,novos_casos,novos_obitos,total_casos,total_mortes,semana_epidemiologica,pop_estimada_2019
263065,2020-03-16,9,0,9,0,202012,9132078.0
263068,2020-03-17,1,0,10,0,202012,9132078.0
263072,2020-03-18,9,0,19,0,202012,9132078.0
263077,2020-03-19,5,0,24,0,202012,9132078.0
263084,2020-03-20,44,0,68,0,202012,9132078.0
...,...,...,...,...,...,...,...
343646,2021-06-25,3424,48,876055,22352,202125,9132078.0
343832,2021-06-26,2610,68,878665,22420,202125,9132078.0
344018,2021-06-27,1753,22,880418,22442,202126,9132078.0
344204,2021-06-28,775,12,881193,22454,202126,9132078.0
344390,2021-06-29,4296,100,885489,22554,202126,9132078.0

In [98]:
dados_ce.to_csv('../data/dados_covid_ce.csv', index = False)